.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 856px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-btn-1 {
  --radius: 20px;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 0 auto 0 30px;
  padding: 18px 40px 18px 39px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.9334em;
}

.u-section-1 .u-list-1 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 255px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 6px auto 0 0;
  padding: 0 44px 0 43px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.7858em;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 6px auto 0 0;
  padding: 0 44px 0 43px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.7858em;
  margin-right: 7px;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 6px auto 0 0;
  padding: 0 44px 0 43px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.7858em;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 6px auto 0 0;
  padding: 0 44px 0 43px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.7858em;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  --radius: 50px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 6px auto 0 0;
  padding: 0 44px 0 43px;
}

.u-section-1 .u-icon-6 {
  font-size: 1.7858em;
}

.u-section-1 .u-list-2 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 103px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-btn-7 {
  --radius: 50px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 6px auto 0;
  padding: 0 89px 0 87px;
}

.u-section-1 .u-icon-7 {
  font-size: 1.7858em;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-btn-8 {
  --radius: 50px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 6px auto 0;
  padding: 0 89px 0 87px;
}

.u-section-1 .u-icon-8 {
  font-size: 1.7858em;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 48px;
  width: 162px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -17px auto 0;
}

.u-section-1 .u-btn-9 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 856px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-tabs-1 {
  min-height: 495px;
  height: auto;
  margin-top: -16px;
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-1 {
  border-style: solid;
  --radius: 50px;
  font-size: 1.875rem;
  padding: 10px 20px;
}

.u-section-1 .u-icon-9 {
  width: 58px;
  height: 58px;
}

.u-section-1 .u-tab-link-2 {
  border-style: solid;
  --radius: 50px;
  font-size: 1.875rem;
  padding: 10px 20px;
}

.u-section-1 .u-container-layout-10 {
  padding: 6px 0;
}

.u-section-1 .u-table-1 {
  margin: 0 auto;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
}

.u-block-5345-99 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 706px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 33px;
    padding-left: 32px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 33px;
    padding-left: 32px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 33px;
    padding-left: 32px;
  }

  .u-section-1 .u-btn-5 {
    padding-right: 33px;
    padding-left: 32px;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 33px;
    padding-left: 32px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
    padding-right: 63px;
    padding-left: 62px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
    padding-right: 63px;
    padding-left: 62px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 884px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 785px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: auto;
    padding-right: 38px;
    padding-left: 37px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: auto;
    padding-right: 38px;
    padding-left: 37px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 156px;
  }

  .u-section-1 .u-btn-9 {
    padding: 10px 18px 10px 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 919px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 651px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 232px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 6px;
    padding-right: 240px;
    padding-left: 240px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 6px;
    padding-right: 240px;
    padding-left: 240px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 6px;
    padding-right: 240px;
    padding-left: 240px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 6px;
    padding-right: 240px;
    padding-left: 240px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 6px;
    padding-right: 240px;
    padding-left: 240px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 7px;
    padding-right: 258px;
    padding-left: 256px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 7px;
    padding-right: 258px;
    padding-left: 256px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1230px;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    padding-right: 141px;
    padding-left: 139px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
    padding-right: 141px;
    padding-left: 139px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
    padding-right: 141px;
    padding-left: 139px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: auto;
    padding-right: 141px;
    padding-left: 139px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: auto;
    padding-right: 141px;
    padding-left: 139px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 175px;
    padding-left: 173px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 175px;
    padding-left: 173px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1337px;
  }
}