.u-section-1 .u-sheet-1 {
  min-height: 421px;
}

.u-section-1 .u-text-1 {
  margin: 27px auto 0 16px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px 16px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}